@import "/css/sh_bright.min.css";
@import "/css/sh_darkness.min.css" (prefers-color-scheme: dark);

html {
    scroll-behavior: smooth;
}

body {
    font-size: 1.2em;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0px;
    padding: 0px;
}

table {
    margin: auto;
    border-collapse: collapse;
}

table, th, td {
    border-width: 1px;
    border-style: solid;
}

th, td {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

s {
    text-decoration-thickness: 0.2em;
}

s:hover {
    text-decoration: none;
}

#nav {
    width: 100%;
    z-index: 999;
}

#navbar {
    margin-top: 0px;
    padding-top: 1em;
}

#content {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.yearheading {
    display: block;
    font-size: 1.00em;
    font-weight: bold;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
}

a.anchor {
    display: block;
    position: relative;
    visibility: hidden;
    height: 0px;
    top: -0.5rem;
}

a.anchor:link:after {
    content: "🔗";
    position: relative;
    visibility: visible;
    left: -1rem;
    font-size: 0.8rem;
}

a.anchor.al2:link:after {
    top: 2.2rem;
}

a.anchor.al3:link:after {
    top: 1.8rem;
}

a.anchor.al4:link:after {
    top: 1.9rem;
}

#scroll_up {
    display: none;
}

#scroll_up_btn {
    font-size: 3em;
    border-radius: 10px;
}

#scroll_up_btn:hover {
    cursor: pointer;
}

.access_link {
    font-size: small;
    display: none;
}

.seal_bottom_left {
    position: fixed;
    max-width: 15%;
    bottom: 0;
    left: 0;
}

.seal_bottom_left:hover {
    border-radius: 10px;
    z-index: 1;
}

.seal_img {
    width: 100%;
}

@media (min-height: 750px) {
    #nav {
        position: fixed;
        top: 0;
        left: 0;
    }

    #wrap {
        height: 5em;
    }

    a.anchor {
        top: -5.5rem;
    }

    a.anchor.al2:link:after {
        top: 7.2rem;
    }

    a.anchor.al3:link:after {
        top: 6.8rem;
    }

    a.anchor.al4:link:after {
        top: 6.9rem;
    }
}

@media (min-width: 1000px) {
    #content {
        width: 75%;
    }

    #scroll_up {
        display: block;
        position: fixed;
        left: 5%;
        bottom: 5px;
    }

    .access_link {
        display: block;
    }

    .seal_bottom_left {
        max-width: 4.5%;
    }
}

@media (min-width: 1500px) {
    #content {
        width: 50%;
    }

    #scroll_up {
        left: 12.5%;
    }

    #navbar {
        position: relative;
        left: 12.5%;
        width: 75%;
    }

    .seal_bottom_left {
        max-width: 12%;
    }
}

.sh_link_upstream {
    font-size: small;
    padding-left: 2em;
    margin-top: -0.75em
}

._sh {
    max-height: 300px;
    overflow: auto;
    font-size: 0.9em;
    padding: 10px;
    margin: 1em;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    resize: vertical;
}

.sh_sourceCode, pre {
    margin: 0 0;
}

/* allow resizing larger than max-height */
._sh[style*="height"] {
    max-height: unset;
}

._sh_lines {
    text-align: right;
    float: left;
    margin: 0 0.5em 0 0;
    padding: 0 0.5em 0 0;
    border-right-width: 1px;
    border-right-style: solid;
}

._sh_lines span {
    display: block;
    font-family: monospace;
}

.ascii {
    overflow: auto;
    padding: 10px;
    margin: 1em;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    font-size: 0.7em;
    line-height: 1;
    max-height: max-content;
    font-weight: bold;
    width: max-content;
}

.textwrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.listdesc {
    font-size: 0.75em;
    vertical-align: top;
}

.show-comments {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}

.releasecard {
    border-width: 2px;
    border-style: solid;
    width: max-content;
    max-width: 100%;
    padding: 0.6em 1em 0em 1em;
    border-radius: 10px;
    text-align: center;
    margin: auto;
}

#home {
    font-size: 2.5em;
    margin-right: 0.5em;
}

#nav ul {
    list-style-type: none;
}

#nav ul li {
    display: inline;
    margin-right: 0.5em;
}

.menulist ul {
    font-size: 0.75em;
    margin-bottom: 1em;
}

a:link, a:visited {
    text-decoration: none;
}

a:link:hover, a:visited:hover, .show-comments:hover {
    text-decoration: underline;
}

/*
a[href*='//']:after {
    content: "↗️";
    font-size: 0.7em;
    vertical-align: middle;
    opacity: 0.666;
}
*/

#nav a:link, #nav a:visited {
    font-weight: bold;
}

#footer {
    text-align: center;
    margin-top: 1em;
    font-size: small;
}

#index-avatar {
    width: 150px;
    height: 150px;
    float: right;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    margin-left: 2em;
    margin-bottom: 1em;
}

.fonts {
    display: inline;
    margin-top: 20px;
    margin-left: 23px;
}

span.font-big {
    font-size: 0.9em;
}

span.font-small {
    font-size: 0.6em;
}

.lightgallery, .lightgallery_new {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.border {
    overflow: hidden;
    height: max-content;
    display: inline-block;
    border-radius: 10px;
    vertical-align: middle;
    margin: 3px 0 3px 0;
    border-width: 2px;
    border-style: solid;
}

.border .pic {
    transition: transform 0.1s;
    vertical-align: bottom;
}

.border:hover .pic {
    transform: scale(1.1, 1.1);
    filter: brightness(75%);
    cursor: zoom-in;
}

.border .picthumb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.1s;
}

.border:hover .picthumb {
    transform: translate(-50%, -50%) scale(1.1, 1.1);
    filter: brightness(75%);
    cursor: zoom-in;
}

.collapse, .collapse_menu {
    cursor: pointer;
}

.collapse {
    margin-bottom: 15px;
    padding: 15px;
}

.collapse:after, .collapse_menu:before {
    content: '\002B';
    font-weight: bold;
}

.collapse:after {
    float: right;
    margin-left: 5px;
}

.collapse_menu:before {
    margin-right: 5px;
}

.collapseactive:after, .collapseactive_menu:before {
    content: "\2212";
}

.collapsecontent, .collapsecontent_menu {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s ease-out;
}

.collapsecontent {
    margin: 15px;
    border-width: 0px;
    border-style: solid;
    border-radius: 10px;
    display: none;
}

.audio_text {
    text-align: center;
    margin: 0.2em;
    font-size: smaller;
}

blockquote {
    position: relative;
    padding: 1em 0.5em;
    border-left-width: 10px;
    border-left-style: solid;
}

blockquote:before {
    position: absolute;
    content: open-quote;
    font-size: 4em;
}

blockquote:before {
    position: absolute;
    content: open-quote;
    font-size: 4em;
}

blockquote p {
    margin: 0 0 0 2em;
}

:not(pre) > code {
    padding: 0.25em 0.5em;
    border-radius: 0.5em;
}

#nav::after {
    content: "";
    height: 0.25em;
    width: 100%;
    display: block;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.125em;
}

hr {
    border: none;
    height: 0.25em;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.125em;
}

#footbar {
    border: none;
    height: 0.25em;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.125em;
}

a.anchor:link:after {
    opacity: 0.666;
}

.clip-btn {
    font-size: 1em;
    float: right;
    position: relative;
    bottom: 1em;
    right: 1.5em;
    border-radius: 5px
}

/* colors */

:not(pre) > code {
    background: #DEDEDE;
}

.seal_bottom_left:hover {
    background-color: #DEDEDE;
}

body, #nav, .collapsecontent {
    background-color: #FFFFFF;
}

.show-comments {
    border-bottom-color: #0000CD;
}

a:link, .show-comments {
    color: #0000CD;
}

a:visited {
    color: #4B0082;
}

body, #nav, #nav a:link, #nav a:visited {
    color: #000000;
}

#nav::after {
    /* pride colors https://www.flagcolorcodes.com/pride-rainbow */
    background: linear-gradient(
        to right,
        rgb(228, 3, 3) 0%,
        rgb(228, 3, 3) 16.65%,
        rgb(255, 140, 0) 16.65%,
        rgb(255, 140, 0) 33.3%,
        rgb(255, 237, 0) 33.3%,
        rgb(255, 237, 0) 50%,
        rgb(0, 128, 38) 50%,
        rgb(0, 128, 38) 66.6%,
        rgb(0, 76, 255) 66.6%,
        rgb(0, 76, 255) 83.25%,
        rgb(115, 41, 130) 83.25%,
        rgb(115, 41, 130) 100%
    );
    border-color: #DDDDDD;
}

hr {
    /* bisexual colors https://www.flagcolorcodes.com/bisexual */
    background: linear-gradient(
        to right,
        rgb(214, 2, 112) 0%,
        rgb(214, 2, 112) 40%,
        rgb(155, 79, 150) 40%,
        rgb(155, 79, 150) 60%,
        rgb(0, 56, 168) 60%,
        rgb(0, 56, 168) 100%
    );
    border-color: #DDDDDD;
}

#footbar {
    /* transgender colors https://www.flagcolorcodes.com/transgender */
    background: linear-gradient(
        to right,
        rgb(91, 206, 250) 0%,
        rgb(91, 206, 250) 20%,
        rgb(245, 169, 184) 20%,
        rgb(245, 169, 184) 40%,
        rgb(255, 255, 255) 40%,
        rgb(255, 255, 255) 60%,
        rgb(245, 169, 184) 60%,
        rgb(245, 169, 184) 80%,
        rgb(91, 206, 250) 80%,
        rgb(91, 206, 250) 100%
    );
    border-color: #DDDDDD;
}

._sh_lines {
    border-right-color: #32CD32;
}

table, th, td, ._sh, .ascii, .border, .releasecard, #index-avatar, .collapsecontent, #toc, .clip-btn {
    border-color: #32CD32;
}

s {
    text-decoration-color: #FF0000;
}

.releasecard, .collapse, .collapse_menu:before {
    background-color: #C0C0C0;
}

#footer, #footer a:link, #footer a:visited {
    color: #808080;
}

.collapseactive, .collapse:hover, .collapse_menu:hover {
    background-color: #999999;
}

blockquote {
    background: #DEDEDE;
    border-left-color: #444444;
}

blockquote:before, blockquote:after {
    color: #444444;
}

#toc, #scroll_up_btn {
    background-color: #E2E2E2;
}

/* dark mode */
@media (prefers-color-scheme: dark) {
    body, #nav, .collapsecontent {
        background-color: #111111;
    }

    .show-comments {
        border-bottom-color: #7B68EE;
    }

    a:link, .show-comments {
        color: #7B68EE;
    }

    a:visited {
        color: #BA55D3;
    }

    .releasecard, .collapse, .collapse_menu:before {
        background-color: #232323;
    }

    body, #nav, #nav a:link, #nav a:visited {
        color: #FFFFFF;
    }

    #footer, #footer a:link, #footer a:visited {
        color: #B0B0B0;
    }

    .ascii, ._sh {
        background-color: #000000;
    }

    .clip-btn {
        background-color: #232323;
        color: #FFFFFF;
    }

    .commento-profile-button {
        fill: #FFFFFF;
    }

    #commento-textarea-root, .commento-guest-details {
        color: #FFFFFF !important;
        background-color: #232323 !important;
        border-color: #B0B0B0 !important;
        border-width: 2px !important;
    }

    #commento-footer, .commento-markdown-button {
        display: none !important;
    }

    .commento-card {
        background-color: #232323 !important;
    }

    .commento-name, .commento-permalink, [id^=commento-comment-text] p {
        color: #FFFFFF !important;
    }

    .collapseactive, .collapse:hover, .collapse_menu:hover {
        background-color: #424242;
    }

    :not(pre) > code {
        background: #252525;
    }

    .seal_bottom_left:hover {
        background-color: #252525;
    }

    blockquote {
        background: #252525;
        border-left-color: #888888;
    }

    blockquote:before, blockquote:after {
        color: #888888;
    }

    #nav::after, hr, #footbar {
        border-color: #111111;
    }

    #toc, #scroll_up_btn {
        background-color: #1D1D1D;
    }
}
