/*
 * Color Combination
 * #000000 - Text
 * #FF9900 - Link, Hover Link, Dashes
 * #FFFFFF - Background
 * #848484 - Visited Link
 * #666666 - ooter
 * #EEEEEC - <pre>
 * #BF8630 - NavButton pressed
 */

body {
    font-family: 'Droid Sans', sans-serif;
    margin: 0;
    padding: 0;
    border: 0; /* This removes the border around the viewport in old versions of IE */
    width: 100%;
    min-width: 600px; /* Minimum width of layout - remove line if not required */
    color: #000000;
}

a {
    color: #0D58A6;
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: #848484;
    text-decoration: none;
}

a:hover {
    color: #0D58A6;
    text-decoration: underline;
}

#header {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: dashed #FF9900 2px;
}

#header h1 {
    display: inline;
    font-size: 3.5em;
}

#header h2 {
    display: inline;
    font-size: 2em;
}

#header p {
    display: inline;
}

#flattr {
    padding: 1em;
}

#twitter {
    padding: 1em;
}

#reddit {
    padding: 1em;
}

#github {
    padding: 1em;
}

#print {
    padding: 1em;
}

div#content {
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #FFFFFF;
}

div#logo {
    width: 180px;
    height: 180px;
    box-shadow: 0px 0px 10px #666666;
    border-radius: 8px;
    border: solid #FF9900 3px;
    background-color: #FF9900;
    overflow: hidden;
    padding: 10px;
    margin: 10px;
}

img#logoImg {
    padding: 0;
    border-radius: 8px;
    width: 180px;
    height: 180px;
    overflow: hidden;
}

#footer {
    text-align: center;
    font-size: small;
    color: gray;
    margin: 1em;
}

#footer a {
    color: #666666;
    text-decoration: none;
}

#footer a:hover {
    color: #666666;
    text-decoration: underline;
}

#footer a:visited {
    color: #666666;
    text-decoration: none;
}

pre {
    border: dotted black 2px;
    background: #EEEEEC;
    padding: 1em;
    overflow: scroll;
}

nav ul ul {
    display: none;
}

nav ul li:hover > ul {
    display: block;
}

nav {
    text-align: right;
    padding-right: 15%;
}

nav ul {
    list-style: none;
    position: relative;
    display: inline-table;
}

nav ul:after {
    content: "";
    clear: both;
    display: block;
}

nav ul li {
    float: left;
    border: solid #FF9900 1px;
}

nav ul li:hover {
    background: #BF8630;
}

nav ul li a {
    display: block;
    padding: 1em;
    text-decoration: none;
}

nav ul li a:visited {
    color: #0D58A6;
}

nav ul ul {
    background: #FFFFFF;
    border: solid #FF9900 1px;
    padding: 0;
    position: absolute;
    top: 100%;
}

nav ul ul li {
    float: none;
    position: relative;
}

nav ul ul li a {
    padding: 1em;
}

nav ul ul li a:visited {
    color: #0D58A6;
}

nav ul ul li a:hover {
    background: #BF8630;
}

nav ul ul ul {
    position: absolute;
    left: 100%;
    top:0;
}